.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  width: 650px;
  height: 304px;
  background: #f7f7f7;
}
.title {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 8px;
}
.location {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}
.textIcon {
  display: flex;
  align-items: center;
  gap: 4px;
}
.price {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #101828;
  margin-bottom: 24px;
}
.descriptionText {
  font-family: var(--font-inter);
  font-weight: 400;
  color: #475467;
}
