.heroWrapper {
  position: relative;
  width: 100%;
  flex: 1;
  z-index: 1;
}
.heroImage {
  z-index: -1;
  object-fit: cover;
}
.heroInfo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 571px;
  margin-left: 64px;
  margin-top: 195px;
}
.heroTitle {
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: #f7f7f7;
}
.heroDescription {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #f7f7f7;
  margin-bottom: 40px;
}
.heroLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border-radius: 200px;
  padding-block: 16px;
  width: 173px;
  height: 56px;
  background: #829b91;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  &:hover {
    background: #6d7b75;
  }
}
