.topContent {
  display: flex;
  gap: 24px;
  margin-bottom: 88px;
}
.camperContainer {
  padding-top: 64px !important;
  padding-bottom: 287px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.bottomContent {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.title {
  margin-bottom: 4px;
}
