.cardImage {
  border-radius: 16px;
}
.card {
  display: flex;
  gap: 24px;
  border-radius: 16px;
  padding: 24px;
  width: 888px;
  height: 312px;
  background: #f7f7f7;
}
.header {
  display: flex;
  justify-content: space-between;
}
.reviews {
  display: flex;
  gap: 16px;
}
.cardList {
  display: flex;
  gap: 8px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 0;
  max-width: 524px;
  gap: 24px;
}
.cardItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  border-radius: 100px;
  padding-block: 12px;
  padding-inline: 18px;
  min-width: 109px;
  height: 48px;
  background: #f2f4f7;
  mix-blend-mode: multiply;
}
.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #475467;
}
.price {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.btnShowMore {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 200px;
  padding-block: 16px;
  width: 173px;
  height: 56px;
  border: none;
  background: #829b91;
  font-family: var(--font-inter);
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #fff;
}
.locationText {
  display: flex;
  gap: 4px;
}
